
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StarQuest - Destinations</title>


<link rel="stylesheet" href="/destinations.css">
<link href="/home.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/sq.PNG">

<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"/>
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<body style="background-color: #112532;">
  
    <nav>
      <div class="nav__bar">
        <div class="nav__logo"><a href="home">StarQuest</a></div>
        <ul class="nav__links">
          <li class="link"><a href="home">Home</a></li>
          <li class="link"><a href="booking">Booking</a></li>
          <li class="link"><a href="destinations">Destinations</a></li>
          <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
          <!-- <li class="link"><a href="#blog">Blog</a></li> -->
          <li class="link"><a href="gallary">Gallery</a></li>
          <li class="link"><a href="home#about">About Us</a></li>
          <li class="link"><a href="contact">Contact</a></li> 
      </div>

    </nav>


  <div class="page-wrapper"> 
    <!-- Banner Section -->
    <section class="inner-banner" style="background-image: url(/banner-image-1.jpg);">
        <div class="image-layer" ></div>
        <div class="auto-container">
            <div class="content-box">
                <h2>Stargazing Destinations</h2>
                <div class="bread-crumb">
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!--Trekking Section-->
    <section class="trekking-section">
        <div class="floated-icon left"><img src="images/resource/hills-image-2.svg" alt="" title=""></div>
        <div class="floated-icon right"><img src="images/resource/stones-right.svg" alt="" title=""></div>
        <div class="floated-icon right-2"><img src="images/resource/floated-icon-right-2.svg" alt="" title=""></div>
        <div class="auto-container">
            <div class="title-box centered">
                <h2><span>Best Destinations for you with StarQuest</span></h2>
                <div class="text">Since 2024, we’ve helped more than 1,000 people of all ages enjoy the best outdoor experience of their lives. Whether it’s for one day or a two-week vacation, close to home or a Indian land.</div>
            </div>

            
            <div class="journals__grid">
                
                <div class="card" style="width: 25rem;">
                    <img src="/spitiimg.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="home"><h5 class="card-title">Spiti Valley, Himachal Pradesh</h5></a>
                      <p class="card-text">Explore the mystical allure of Spiti Valley, nestled in the remote reaches of northeastern Himachal Pradesh.</p>
                      <a href="booking" class="button-50 btn-primary">Book Now</a>
                      <a href="spiti" class="btn btn-secondary">View Details</a>
                    </div>
                  </div>
                  <div class="card" style="width: 25rem;">
                    <img src="/pansong-tso.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pangong Tso, Ladakh</h5>
                      <p class="card-text">Pangong Tso, also known as Pangong Lake, is a mesmerizing high-altitude lake situated in the Ladakh region of India.</p>
                      <a href="booking" class="button-50 btn-primary">Book Now</a>
                      <a href="pangong" class="btn btn-secondary">View Details</a>
                      
                    </div>
                  </div>
                  <div class="card" style="width: 25rem;">
                    <img src="/sonmarg.jfif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sonmarg, Jammu and Kashmir</h5>
                      <p class="card-text">Sonmarg, which translates to "Meadow of Gold," is a picturesque hill station nestled in the Ganderbal district of Jammu and Kashmir, India.</p>
                      <a href="booking" class="button-50 btn-primary">Book Now</a>
                      <a href="sonmarg" class="btn btn-secondary">View Details</a>
                    </div>
                  </div>
                  <div class="card" style="width: 25rem;">
                    <img src="/lachen.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lachen, Sikkim</h5>
                      <p class="card-text">Lachen, nestled amidst the majestic Himalayas, is a picturesque village renowned for its pristine natural beauty.</p>
                      <a href="booking" class="button-50 btn-primary">Book Now</a>
                      <a href="lachen" class="btn btn-secondary">View Details</a>
                    </div>
                  </div>
                  <div class="card" style="width: 25rem;">
                    <img src="/neil-island.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Neil Island, Andaman and Nicobar</h5>
                      <p class="card-text">Neil Island, nestled in the Andaman archipelago, offers a serene and secluded environment for stargazing enthusiasts.</p>
                      <a href="booking" class="button-50 btn-primary">Book Now</a>
                      <a href="neil" class="btn btn-secondary">View Details</a>
                    </div>
                  </div>
                  
              </div>
                   
    </section>
    <section class="footer">
        <div class="section__container footer__container">
          <h4 style="color: #fff;">StarQuest</h4>
          <div class="footer__socials">
            <span>
              <a href="#"><i class="ri-facebook-fill"></i></a>
            </span>
            <span>
              <a href="#"><i class="ri-instagram-fill"></i></a>
            </span>
            <span>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </span>
            <span>
              <a href="#"><i class="ri-linkedin-fill"></i></a>
            </span>
          </div>
          
          <ul class="footer__nav">
            <li class="footer__link"><a href="home">Home</a></li>
            <li class="footer__link"><a href="destinations">Destination</a></li>
            <li class="footer__link"><a href="gallary">Gallery</a></li>
            <li class="footer__link"><a href="/#about">About</a></li>
            <li class="footer__link"><a href="contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer__bar">
          Copyright © 2024 Star Quest. All rights reserved.
        </div>
      </section>

</div>
</body>
</html>