<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallary</title>
    <link rel="stylesheet" href="/gallary.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="icon" type="image/x-icon" href="/sq.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="nav__bar">
                <div class="nav__logo"><a href="home">StarQuest</a></div>
                <ul class="nav__links">
                  <li class="link"><a href="home">Home</a></li>
                  <li class="link"><a href="booking">Booking</a></li>
                  <li class="link"><a href="destinations">Destinations</a></li>
                  <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
                  <!-- <li class="link"><a href="#blog">Blog</a></li> -->
                  <li class="link"><a href="gallary">Gallery</a></li>
                  <li class="link"><a href="home#about">About Us</a></li>
                  <li class="link"><a href="contact">Contact</a></li> 
              </div>

      </nav>
    <div class="container">

        <div class="slide">

            
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1501418611786-e29f9929fe03?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Switzerland</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1497157813429-d722e7526625?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Finland</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1483347756197-71ef80e95f73?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Iceland</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://cdn.pixabay.com/photo/2022/05/01/13/48/planets-7167584_1280.jpg);">
                <div class="content">
                    <div class="name">Australia</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://cdn.pixabay.com/photo/2016/11/29/02/20/astronomy-1866822_1280.jpg);">
                <div class="content">
                    <div class="name">Netherland</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1595520519880-a86c48ea536c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Ireland</div>
                    
                </div>
            </div>

        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>




    </div>

    
</body>
<script src="/gallary.js"></script>
</html>