<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/sq.PNG">

    <link rel="stylesheet" href="/home.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>StarQuest</title>
  </head>
  <body>
    <header id="home">
      <nav>
        <div class="nav__bar">
          <div class="nav__logo"><a href="home">StarQuest</a></div>
          <ul class="nav__links">
            <li class="link"><a href="home">Home</a></li>
            <li class="link"><a href="booking">Booking</a></li>
            <li class="link"><a href="destinations">Destinations</a></li>
            <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
            <!-- <li class="link"><a href="#blog">Blog</a></li> -->
            <li class="link"><a href="gallary">Gallery</a></li>
            <li class="link"><a href="#about">About Us</a></li>
            <li class="link"><a href="contact">Contact</a></li> 
        </div>

      </nav>
      <div class="section__container header__container">
        <h1>The new way to plan your next Astro-tour</h1>
        <h4>Explore the colourful world</h4>
        <a class="btn" href="#discover">
          Explore More <i class="ri-arrow-right-line"></i>
        </a>
      </div>
    </header>

    

    <section class="discover" id="discover">
      <div class="section__container discover__container">
        <h2 class="section__header">Discover the most engaging places</h2>
        <p class="section__subheader">
          Let's see the world with us with you and your family.
        </p>
        <div class="discover__grid">
          <div class="discover__card">
            <div class="discover__image">
              <img src="https://images.pexels.com/photos/17634053/pexels-photo-17634053/free-photo-of-mountain-range-reflecting-in-the-chandra-lake.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="discover" />
            </div>
            <div class="discover__card__content">
              <h4>Spiti Valley</h4>
              <p>
                Discover the untamed beauty of Spiti Valley. Explore the mystical allure of Spiti Valley, nestled in the remote reaches of northeastern Himachal Pradesh.
              </p>
              <a class="discover__btn" href="spiti">
                Discover More <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          </div>
          <div class="discover__card">
            <div class="discover__image">
              <img src="https://images.pexels.com/photos/20058472/pexels-photo-20058472/free-photo-of-sea-coast-on-island.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="discover" />
            </div>
            <div class="discover__card__content">
              <h4>Neil Island</h4>
              <p>
                Neil Island, nestled in the Andaman archipelago, 
                offers a serene and secluded environment for stargazing enthusiasts.
              </p>
              <a class="discover__btn" href="neil">
                Discover More <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          </div>
          <div class="discover__card">
            <div class="discover__image">
              <img src="https://images.pexels.com/photos/15257503/pexels-photo-15257503/free-photo-of-green-trees-near-the-rocky-mountain.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="discover" />
            </div>
            <div class="discover__card__content">
              <h4>Sonmarg</h4>
              <p>
                Sonmarg, which translates to "Meadow of Gold," is a picturesque hill station nestled 
                in the Ganderbal district of Jammu and Kashmir, India.
              </p>
              <a class="discover__btn">
                Discover More <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="gallery" id="gallery">
      <div class="gallery__container">
        <h2 class="section__header">Stargazer's Gallary</h2>
        <p class="section__subheader">
          Explore the most beautiful places in the world.
        </p>
        <div class="gallery__grid">
          <div class="gallery__card">
            <img src="/spitiimg.jfif" alt="spiti valley" />
            <div class="gallery__content">
              <h4>Spiti Valley</h4>
              <p>Himachal Pradesh</p>
            </div>
          </div>
          <div class="gallery__card">
            <img src="/pansong-tso.jpg" alt="pangong-tso" />
            <div class="gallery__content">
              <h4>Pangong Tso</h4>
              <p>Ladakh</p>
            </div>
          </div>
          <div class="gallery__card">
            <img src="/sonmarg.jfif" alt="sonmarg" />
            <div class="gallery__content">
              <h4>Sonmarg</h4>
              <p>Jammu and Kashmir</p>
            </div>
          </div>
          <div class="gallery__card">
            <img src="/lachen.jpg" alt="lachen" />
            <div class="gallery__content">
              <h4>Lachen</h4>
              <p>Sikkim</p>
            </div>
          </div>
          <div class="gallery__card">
            <img src="/neil-island.jpg" alt="neil-island" />
            <div class="gallery__content">
              <h4>Neil Island</h4>
              <p>Andaman and Nicobar </p>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    

    <section class="hero">
      <div class="section__container hero__container">
        <p>StarQuest</p>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="section__container contact__container">
        <div class="contact__col">
          <h4>Contact a travel researcher</h4>
          <p>We always aim to reply within 24 hours.</p>
        </div>
        <div class="contact__col">
          <div class="contact__card">
            <span><i class="ri-phone-line"></i></span>
            <h4>Call us</h4>
            <h5>+91 9315269303</h5>
            <p>We are online now</p>
          </div>
        </div>
        <div class="contact__col">
          <div class="contact__card">
            <span><i class="ri-mail-line" href="contact"></i></span>
              <h4>Send us an enquiry</h4></a>
          </div>
        </div>
      </div>
    </section>

    <section class="about" id="about">
      <div class="section__container about__container">
        <div class="about__content">
          <h2 class="section__header">About us</h2>
          <p class="section__subheader">
            At StarQuest Astro Tours, we are passionate about exploring the cosmos and sharing the wonders 
            of the universe with you. Our mission is to provide unique and unforgettable experiences that inspire 
            curiosity and awe for the night sky.
          </p>
          <div class="about__flex">
            <div class="about__card">
              <h4>68</h4>
              <p>Completed Trips</p>
            </div>
            <div class="about__card">
              <h4>16</h4>
              <p>Tour Guides</p>
            </div>
            <div class="about__card">
              <h4>5</h4>
              <p>Destinations</p>
            </div>
          </div>
          <!-- <button class="btn">
            Read More <i class="ri-arrow-right-line"></i>
          </button> -->
        </div>
        <div class="about__image">
          <img src="/about.jpg" alt="about" />
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="section__container footer__container">
        <h4>StarQuest</h4>
        <div class="footer__socials">
          <span>
            <a href="#"><i class="ri-facebook-fill"></i></a>
          </span>
          <span>
            <a href="#"><i class="ri-instagram-fill"></i></a>
          </span>
          <span>
            <a href="#"><i class="ri-twitter-fill"></i></a>
          </span>
          <span>
            <a href="#"><i class="ri-linkedin-fill"></i></a>
          </span>
        </div>
        <p>
            Escape to celestial realms hand in hand, where the cosmos unfolds its mysteries. Let your love soar amidst the twinkling stars, creating timeless memories under the vast night sky.
        </p>
        <ul class="footer__nav">
          <li class="footer__link"><a href="home">Home</a></li>
          
          <!-- <li class="footer__link"><a href="#discover">Maps</a></li> -->
          <!-- <li class="footer__link"><a href="#blog">Blog</a></li> -->
          <li class="footer__link"><a href="destinations">Destination</a></li>
          <li class="footer__link"><a href="gallary">Gallery</a></li>
          <li class="footer__link"><a href="#about">About</a></li>
          <li class="footer__link"><a href="contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer__bar">
        Copyright © 2023 Star Quest. All rights reserved.
      </div>
    </section>

    <script src="/destjs.js"></script>
  </body>
</html>