<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="login.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Login</title>
</head>
<body >
    <nav>
        <div class="nav__bar">
          <div class="nav__logo"><a href="#">StarQuest</a></div>
          <ul class="nav__links">
            <li class="link"><a href="destinations.html">Home</a></li>
            <li class="link"><a href="booking.html">Booking</a></li>
            <li class="link"><a href="destinations.html">Destinations</a></li>
            <li class="link"><a href="#blog">Blog</a></li>
            <li class="link"><a href="#gallery">Gallery</a></li>
            <li class="link"><a href="#about">About Us</a></li>
            <li class="link"><a href="#contact">Contact</a></li>
            <li class="link search">
      
            <span><i class="ri-search-line"></i></span>
            </li>
            <li class="link"><a href="login.html">Login</a></li>
          </ul>
        </div>

    </nav>
    <section class = "bg">

    </section>


  


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>