<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StarQuest-Lachen</title>
<!-- Stylesheets -->
<!-- <link rel="stylesheet" href="home.css"> -->
<link href="/bootstrap.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/sq.PNG">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/navbar.css">
<link href="/responsive.css" rel="stylesheet">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 

</head>

<body>
	<nav>
        <div class="nav__bar">
			<div class="nav__logo"><a href="home">StarQuest</a></div>
			<ul class="nav__links">
			  <li class="link"><a href="home">Home</a></li>
			  <li class="link"><a href="booking">Booking</a></li>
			  <li class="link"><a href="destinations">Destinations</a></li>
			  <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
			  <!-- <li class="link"><a href="#blog">Blog</a></li> -->
			  <li class="link"><a href="gallary">Gallery</a></li>
			  <li class="link"><a href="home#about">About Us</a></li>
			  <li class="link"><a href="contact">Contact</a></li> 
		  </div>

      </nav>
	<div class="page-wrapper"> 
  
		<!-- Banner Section -->
		<section class="packages-banner" style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.tripadvisor.in%2FTourism-g1787696-Lachen_North_Sikkim_Sikkim-Vacations.html&psig=AOvVaw0_hwmTadOFBQPikmpFzBwR&ust=1715496417612000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLjTkKaAhYYDFQAAAAAdAAAAABAE);">
			<div class="auto-container">
				<ul class="banner-list">
					<li><span class="icon"><img src="/icons/location.svg" alt="" /></span>Sikkim, India</li>
					<li> <a href="https://maps.app.goo.gl/e7uq6AL1FLJTsnoS9" style="color: #fff;" target="_blank">View on Map</a></li>
				</ul>
			</div>
		</section>
		<!--End Banner Section -->
	
		<!-- Package Detail Section -->
		<section class="package-detail-section">
			<div class="auto-container">
			
				<!-- Upper Box -->
				<div class="upper-box">
					<div class="clearfix">
						<div class="pull-left">
							<h4>Lachen</h4>
						</div>
					<!--	<div class="pull-right">
							<div class="price">$120<span>/Person</span></div>
						</div>-->
					</div>
				</div>
			
				
				
				
				<div class="row clearfix">
					<!-- Content Column -->
					<div class="content-column col-xl-8 col-lg-7 col-md-12 col-sm-12">
						<h5>About Lachen</h5>
						<p style="text-align: justify;"></p>
						<p style="text-align: justify;">Lachen, nestled amidst the majestic Himalayas, is a picturesque village renowned for its pristine natural beauty and exceptional 
                            stargazing opportunities. Situated at an altitude of approximately 2,750 meters (9,000 feet) above sea level, Lachen offers clear, unpolluted skies that are perfect for observing the
                             wonders of the cosmos. With minimal light pollution and favorable weather conditions, visitors to Lachen can immerse themselves in the awe-inspiring spectacle of the night sky, marveling at countless stars,
                              planets, and celestial phenomena. Guided astro-tourism activities provide enriching experiences, allowing travelers to explore the mysteries of the universe while surrounded by the breathtaking 
                              landscapes of the Himalayan region. Lachen's unique blend of natural splendor and celestial wonders makes it a must-visit destination for both astronomy enthusiasts and nature lovers alike.</p>
						
						
							  <div class="facility-box">
								<h5>Facilities</h5>
								<div class="row clearfix">
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/campings.svg" alt="" /></span> Camping Tents</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/food.svg" alt="" /></span> Meal-Dinner (Veg/Non-Veg)</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/hotel.svg" alt="" /></span> 3 to 5 star Hotels</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/lights.svg" alt="" /></span> Electric Tent Lights</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/no-smoking.svg" alt="" /></span> Smoking Not Allowed</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/transport.svg" alt="" /></span> Transport </div>
									</div>
								</div>
							</div>
						
						<!-- Itinerary Box -->
						<div class="itinerary-box">
							<h5>Itinerary</h5>
							<div class="days-outer">
							
								<!-- Day Box -->
								<div class="day-box">
									<h5>Lachen Astro-Tour Itinerary</h5>
        <h5>Late Afternoon:</h5>
        <p>Arrive in Lachen, a serene village nestled in the Himalayas, during the late afternoon. Check into your accommodation and freshen up for the evening ahead.</p>
        
        <h5>Early Evening:</h5>
        <p>Meet with your local guide or astronomy expert who will lead the astro tour. Enjoy a warm and hearty dinner at a local eatery to energize yourself for the night's activities.</p>
        
        <h5>Evening:</h5>
        <p>Depart from Lachen in the early evening, heading to a designated stargazing spot away from the village lights. Lachen offers numerous secluded areas with minimal light pollution, providing excellent visibility of the night sky.</p>
        <p>Set up telescopes and other stargazing equipment under the guidance of your expert. Learn about the constellations, stars, and other celestial objects visible in the dark Himalayan skies.</p>
        <p>Spend time observing and photographing celestial wonders such as the Milky Way, planets, and distant galaxies.</p>
        
        <h5>Late Night:</h5>
        <p>Continue stargazing and astrophotography until late into the night, taking advantage of the clear and unpolluted skies of Lachen. Engage in discussions with your guide and fellow participants, exchanging knowledge and experiences related to astronomy and the cosmos.</p>
        
        <h5>Early Morning:</h5>
        <p>As the night comes to an end, pack up your equipment and prepare for the journey back to Lachen. If time permits and weather conditions allow, witness the breathtaking sight of the sunrise over the snow-capped peaks of the Himalayas.</p>
        
        <h5>Morning:</h5>
        <p>Arrive back in Lachen in the early morning hours, feeling inspired and rejuvenated by your astro-tour experience. Take some time to reflect on the mesmerizing beauty of the night sky and the wonders of the universe before continuing your exploration of Lachen and its surrounding areas.</p>
    

									
								</div>
							</div>
						</div>
						
						<!-- Gallery Box -->
						<div class="gallery-box">
							<h5>Gallery</h5>
							<div class="single-item-carousel owl-carousel owl-theme">
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1514669362126-0d8bb38261a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1533770968315-83d7a23b16eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1595520519880-a86c48ea536c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1713970752944-90dfa4444217?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1501418611786-e29f9929fe03?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://cdn.pixabay.com/photo/2022/05/01/13/48/planets-7167584_1280.jpg" alt="" />
									</div>
								</div>
								
							</div>
							<br>
							<div class="load-more"><a href="gallary" class="theme-btn btn-style-one"><span>Load More......</span></a></div>
						</div>
						
						<!-- Map Box -->
						<div class="map-box">
							<h5>Location</h5>
							<!--Map Outer-->
							<div class="map-outer">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56506.911455313035!2d88.47539654298697!3d27.727104149399082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e6dcac5ae61bff%3A0x9ee8cb94b7e7964a!2sLachen%2C%20Sikkim%20737120!5e0!3m2!1sen!2sin!4v1715408541536!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13497.775644939118!2d78.03491600000001!3d32.2461365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3906a40ef42dc09b%3A0x52b583a91132a239!2sSpiti%20Valley%2C%20Marango%20Rangarik%2C%20Himachal%20Pradesh%20172114!5e0!3m2!1sen!2sin!4v1715403931836!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
							
							</div>
						</div>
						
					</div>
					<!-- Sidebar Column -->
					<div class="sidebar-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
						
							<!-- Booking Widget -->
							<div class="sidebar-widget booking-widget" style="background-image: url(images/background/booking-bg.jpg);">
								<h5><a href="booking" style="color: white;">Book this Destination</a></h5>
								
							</div>
							
						
						</div>
					</div>
				</div>
				
			</div>
		</section>
	
	</div>

	
	<!--End pagewrapper--> 
	
	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon"><img src="/icons/arrow-up.svg" alt="" title="Go To Top"></span></div>
	
	<script src="/jquery.js"></script>
	<script src="/popper.min.js"></script>
	<script src="/bootstrap.min.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/jquery.fancybox.js"></script>
	<script src="/bxslider.js"></script>
	<script src="/touchspin.js"></script>
	<script src="/owl.js"></script>
	<script src="/wow.js"></script>
	<script src="/custom-script.js"></script>
</body>
</html>