<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StarQuest-Neil Island</title>
<link href="/bootstrap.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/sq.PNG">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/navbar.css">
<link href="/responsive.css" rel="stylesheet">


<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 

</head>

<body >
	<nav>
		<div class="nav__bar">
		<div class="nav__logo"><a href="home">StarQuest</a></div>
		<ul class="nav__links">
		  <li class="link"><a href="home">Home</a></li>
		  <li class="link"><a href="booking">Booking</a></li>
		  <li class="link"><a href="destinations">Destinations</a></li>
		  <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
		  <!-- <li class="link"><a href="#blog">Blog</a></li> -->
		  <li class="link"><a href="gallary">Gallery</a></li>
		  <li class="link"><a href="home#about">About Us</a></li>
		  <li class="link"><a href="contact">Contact</a></li> 
	  	</div>
	
		</nav>
	<div class="page-wrapper"> 
  
		<!-- Banner Section -->
		<section class="packages-banner" style="background-image: url(https://images.unsplash.com/photo-1586053226626-febc8817962f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
		<!-- <section class="packages-banner" style="background-image: url(https://images.unsplash.com/photo-1586359716568-3e1907e4cf9f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);"> -->
			<div class="auto-container">
				<ul class="banner-list">
					<li><span class="icon"><img src="/icons/location.svg" alt="" /></span>Andaman and Nicobar, India</li>
					<li> <a href="https://maps.app.goo.gl/xTuG1Pso4wEqpGne7" style="color: #fff;" target="_blank">View on Map</a></li>
				</ul>
			</div>
		</section>
		<!--End Banner Section -->
	
		<!-- Package Detail Section -->
		<section class="package-detail-section">
			<div class="auto-container">
			
				<!-- Upper Box -->
				<div class="upper-box">
					<div class="clearfix">
						<div class="pull-left">
							<h4>Neil Island</h4>
						</div>
					<!--	<div class="pull-right">
							<div class="price">$120<span>/Person</span></div>
						</div>-->
					</div>
				</div>
			
				
				
				
				<div class="row clearfix">
					<!-- Content Column -->
					<div class="content-column col-xl-8 col-lg-7 col-md-12 col-sm-12">
						<h5>About Neil Island</h5>
						<p style="text-align: justify;"></p>
						<p style="text-align: justify;">Neil Island, nestled in the Andaman archipelago, offers a serene and secluded environment for stargazing enthusiasts. Known for its pristine beaches and lush greenery, Neil Island provides an ideal setting to escape the hustle and bustle of city life and immerse oneself in the wonders of the night sky. With minimal light pollution and clear atmospheric conditions, Neil Island offers breathtaking views of the stars, planets, and celestial phenomena.

                            Embark on an astro tour of Neil Island to witness the mesmerizing spectacle of the cosmos. Whether you're a novice astronomer or a seasoned stargazer, Neil Island's tranquil ambiance and unobstructed horizons create the perfect backdrop for celestial exploration. Engage in guided stargazing sessions led by experienced astronomers, who will unravel the mysteries of the universe and share fascinating insights into the night sky.	
							</p>
						
						
							<div class="facility-box">
								<h5>Facilities</h5>
								<div class="row clearfix">
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/campings.svg" alt="" /></span> Camping Tents</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/food.svg" alt="" /></span> Meal-Dinner (Veg/Non-Veg)</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/hotel.svg" alt="" /></span> 3 to 5 star Hotels</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/lights.svg" alt="" /></span> Electric Tent Lights</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/no-smoking.svg" alt="" /></span> Smoking Not Allowed</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/transport.svg" alt="" /></span> Transport </div>
									</div>
								</div>
							</div>
						
						<!-- Itinerary Box -->
						<div class="itinerary-box">
							<h3><b>Itinerary</b></h3>
							<div class="days-outer">
							
								<!-- Day Box -->
								<div class="day-box">

									<h5>Neil Island Astro Tour Itinerary</h5>

    <h5>Morning:</h5>
    <p>Arrive at Neil Island in the morning and check into your accommodation.</p>

    <h5>Afternoon:</h5>
    <p>Relax and explore the picturesque beaches and natural beauty of Neil Island during the afternoon.</p>

    <h5>Early Evening:</h5>
    <p>Meet with your local guide or astronomy expert who will lead the astro tour.</p>

    <h5>Evening:</h5>
    <p>Depart from your accommodation in the early evening, heading to a designated stargazing spot away from artificial lights.
    Set up telescopes and cameras for stargazing and astrophotography sessions.
    Engage in guided stargazing sessions led by experienced astronomers, who will provide insights into celestial objects visible in the night sky over Neil Island.
    Enjoy hot beverages and snacks provided during the stargazing session.</p>

    <h5>Late Night:</h5>
    <p>Continue stargazing and astrophotography until late into the night, taking advantage of the clear, unpolluted skies of Neil Island.
    Capture memorable images of the stars, planets, and possibly even distant galaxies and nebulae.</p>

    <h5>Early Morning:</h5>
    <p>Pack up your equipment and return to your accommodation as the night comes to an end.</p>

    <h5>Morning:</h5>
    <p>Reflect on your astro tour experience and explore more of Neil Island before departing.</p>

								</div>
							</div>
						</div>
						
						<!-- Gallery Box -->
						<div class="gallery-box">
							<h5>Gallery</h5>
							<div class="single-item-carousel owl-carousel owl-theme">
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1514669362126-0d8bb38261a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1533770968315-83d7a23b16eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1595520519880-a86c48ea536c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1713970752944-90dfa4444217?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1501418611786-e29f9929fe03?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://cdn.pixabay.com/photo/2022/05/01/13/48/planets-7167584_1280.jpg" alt="" />
									</div>
								</div>
								
							</div>
							<br>
							<div class="load-more"><a href="gallary" class="theme-btn btn-style-one"><span>Load More......</span></a></div>
						</div>
						
						<!-- Map Box -->
						<div class="map-box">
							<h5>Location</h5>
							<!--Map Outer-->
							<div class="map-outer">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31240.422364061673!2d93.02149107992217!3d11.831576311071135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3088d9a13824c715%3A0xddd01ec98b4eb529!2sShaheed%20Dweep!5e0!3m2!1sen!2sin!4v1715409095947!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31240.422364061673!2d93.02149107992217!3d11.831576311071135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3088d9a13824c715%3A0xddd01ec98b4eb529!2sShaheed%20Dweep!5e0!3m2!1sen!2sin!4v1715409095947!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                            </div>
						</div>
						
					</div>
					<!-- Sidebar Column -->
					<div class="sidebar-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
						
							<!-- Booking Widget -->
							<div class="sidebar-widget booking-widget" style="background-image: url(images/background/booking-bg.jpg);">
								<h5><a href="booking" style="color: white;">Book this Destination</a></h5>
								
							</div>
							
						
						</div>
					</div>
				</div>
				
			</div>
		</section>
	
	</div>

	
	<!--End pagewrapper--> 
	
	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon"><img src="/icons/arrow-up.svg" alt="" title="Go To Top"></span></div>
	
	<script src="/jquery.js"></script>
	
	<script src="/owl.js"></script>
	<script src="/wow.js"></script>
	<script src="/custom-script.js"></script>
</body>
</html>