<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StarQuest-Pangong</title>
<link href="/bootstrap.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/sq.PNG">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/navbar.css">
<link href="/responsive.css" rel="stylesheet">

</head>

<body>
	<nav>
	<div class="nav__bar">
		<div class="nav__logo"><a href="home">StarQuest</a></div>
		<ul class="nav__links">
		  <li class="link"><a href="home">Home</a></li>
		  <li class="link"><a href="booking">Booking</a></li>
		  <li class="link"><a href="destinations">Destinations</a></li>
		  <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
		  <!-- <li class="link"><a href="#blog">Blog</a></li> -->
		  <li class="link"><a href="gallary">Gallery</a></li>
		  <li class="link"><a href="home#about">About Us</a></li>
		  <li class="link"><a href="contact">Contact</a></li> 
	  </div>
	  </nav>
	<div class="page-wrapper"> 
	
		<!-- Banner Section -->
		<section class="packages-banner" style="background-image: url(https://images.unsplash.com/photo-1585649939621-507679adc2d3?q=80&w=1818&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
			<div class="auto-container">
				<ul class="banner-list">
					<li><span class="icon"><img src="/icons/location.svg" alt="" /></span>Ladakh, India</li>
					<li> <a href="https://maps.app.goo.gl/DkVfUoTUqjKSTDwd9" style="color: #fff;" target="_blank">View on Map</a></li>
				</ul>
			</div>
		</section>

		<!-- Package Detail Section -->
		<section class="package-detail-section">
			<div class="auto-container">
			
				<!-- Upper Box -->
				<div class="upper-box">
					<div class="clearfix">
						<div class="pull-left">
							<h4>Pangong Lake</h4>
						</div>
					<!--	<div class="pull-right">
							<div class="price">$120<span>/Person</span></div>
						</div>-->
					</div>
				</div>

				<div class="row clearfix">
					<!-- Content Column -->
					<div class="content-column col-xl-8 col-lg-7 col-md-12 col-sm-12">
						<h5>About Pangong Lake</h5>
						<p style="text-align: justify;"></p>
						<p style="text-align: justify;">Pangong Tso, also known as Pangong Lake, is a mesmerizing high-altitude lake situated in the Ladakh region of India. This stunning natural wonder is nestled at an altitude of around 14,270 feet (4,350 meters) above sea level, making it one of the highest saltwater lakes in the world. Pangong Tso spans across the Indo-China border, with approximately one-third of the lake located within Indian territory and the remaining two-thirds lying in Chinese-administered Tibet.

                            The lake's crystal-clear waters, which shimmer with various shades of blue and turquoise, are set against the backdrop of rugged, barren mountains, creating a breathtaking panorama that captivates all who visit. Pangong Tso's serene and remote location, far from the hustle and bustle of urban life, offers a peaceful and tranquil atmosphere for visitors to immerse themselves in nature's beauty.
						</p>
						
							<div class="facility-box">
								<h5>Facilities</h5>
								<div class="row clearfix">
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/campings.svg" alt="" /></span> Camping Tents</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/food.svg" alt="" /></span> Meal-Dinner (Veg/Non-Veg)</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/hotel.svg" alt="" /></span> 3 to 5 star Hotels</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/lights.svg" alt="" /></span> Electric Tent Lights</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/no-smoking.svg" alt="" /></span> Smoking Not Allowed</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/transport.svg" alt="" /></span> Transport </div>
									</div>
								</div>
							</div>
						
						<!-- Itinerary Box -->
						<div class="itinerary-box">
							<h3><b>Itinerary</b></h3>
							<div class="days-outer">
							
								<!-- Day Box -->
								<div class="day-box">

									<h5>Day Itinerary: Pangong Astro Tour</h5>
                                <p>Experience the celestial wonders of Pangong Tso with our exclusive astro tour. Spend a day immersed in the captivating beauty of the night sky.</p>

                                <h5>Evening:</h5>
                                <p>Arrive at Pangong Tso in the late afternoon and check into your accommodation.</p>

                                <h5>Early Evening:</h5>
                                <p>Meet your astronomy guide and fellow stargazers for a briefing on the night's celestial events.
                                Enjoy a hearty dinner at a local restaurant to fuel up for the night ahead.</p>

                                <h5>Night:</h5>
                                <p>Depart for the stargazing site, away from city lights, to set up telescopes and equipment.
                                Observe constellations, planets, and other celestial objects under the guidance of your expert astronomer.
                                Capture stunning astrophotography shots of the Milky Way and other cosmic phenomena.
                                Sip on hot beverages and savor snacks while marveling at the wonders of the universe.</p>

                                <h5>Late Night:</h5>
                                <p>Continue stargazing and astrophotography late into the night, taking in the serene ambiance of Pangong Tso.
                                Engage in discussions about astronomy and the significance of dark sky conservation.</p>

                                <h5>Early Morning:</h5>
                                <p>Pack up your equipment and return to your accommodation as the night comes to an end.
                                Reflect on the awe-inspiring experience of witnessing the beauty of the cosmos.</p>

								</div>
							</div>
						</div>
						
						<!-- Gallery Box -->
						<div class="gallery-box">
							<h5>Gallery</h5>
							<div class="single-item-carousel owl-carousel owl-theme">
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1514669362126-0d8bb38261a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1533770968315-83d7a23b16eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1595520519880-a86c48ea536c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1713970752944-90dfa4444217?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1501418611786-e29f9929fe03?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://cdn.pixabay.com/photo/2022/05/01/13/48/planets-7167584_1280.jpg" alt="" />
									</div>
								</div>
								
							</div>
							<br>
							<div class="load-more"><a href="gallary" class="theme-btn btn-style-one"><span>Load More......</span></a></div>
						</div>
                        
						<!-- Map Box -->
						<div class="map-box">
							<h5>Location</h5>
							<!--Map Outer-->
							<div class="map-outer">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212135.36608175022!2d78.55877689233672!3d33.82224473830081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39002d69b6082a97%3A0xb7ba17e3c8c016a9!2sPangong%20Tso!5e0!3m2!1sen!2sin!4v1715408936513!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
						</div>
						
					</div>
					<!-- Sidebar Column -->
					<div class="sidebar-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
						
							<!-- Booking Widget -->
							<div class="sidebar-widget booking-widget" style="background-image: url(images/background/booking-bg.jpg);">
								<h5><a href="booking" style="color: white;">Book this Destination</a></h5>
								
							</div>
							
						
						</div>
					</div>
				</div>
				
			</div>
		</section>
	
	</div>

	
	<!--End pagewrapper--> 
	
	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon"><img src="/icons/arrow-up.svg" alt="" title="Go To Top"></span></div>
	
	<script src="/jquery.js"></script>
	
	<script src="/owl.js"></script>
	<script src="/wow.js"></script>
	<script src="/custom-script.js"></script>
</body>
</html>