<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/sq.PNG">
    <link rel="stylesheet" href="/signup.css" />
    <!-- <link rel="stylesheet" href="home.css"> -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>SignUp</title>
</head>
<body >
  <nav>
    <nav>
      <div class="nav__bar">
        <div class="nav__logo"><a href="/">StarQuest</a></div>
        <ul class="nav__links">
          <li class="link"><a href="/">Home</a></li>
          <li class="link"><a href="booking">Booking</a></li>
          <li class="link"><a href="destinations">Destinations</a></li>
          <!-- <li class="link"><a href="#blog">Blog</a></li> -->
          <li class="link"><a href="gallary">Gallery</a></li>
          <li class="link"><a href="/#about">About Us</a></li>
          

          <li class="link"><a href="contact">Contact</a></li>
          
          
      </div>

    </nav>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          // Get all anchor tags in the navigation
          const navLinks = document.querySelectorAll(".nav__links a");
  
          // Loop through each anchor tag
          navLinks.forEach(function(link) {
              // Prevent the default action when clicked
              link.addEventListener("click", function(event) {
                  event.preventDefault();
              });
          });
      });
  </script>
        <section class = "bg">
          <div class="wrapper">
            <a href="/" class="icon-close"><ion-icon name="close-outline"></ion-icon></a>

            <!-- registration -->
            <div class="form-box register">
              <h2>Registration</h2>
              <form action="/signup" method="post">
                <div class="input-box">
                  <span class="icon"><ion-icon name="person"></ion-icon></span>
                  <input type="text" required name="fname" autocomplete="off">
                  <label>First Name</label>
                  
                </div>
              <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <input type="text" required name="lname" autocomplete="off">
                <label>Last name</label>
                
            </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" required name="email" autocomplete="off">
                    <label>Email</label>
                </div>
                <div class="input-box">
                      <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                      <input type="password" required name="password" autocomplete="off">
                      <label>Password</label>
                </div>
                <div class="input-box">
                  <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                  <input type="password" id="confirmPassword" required name="cpwd" autocomplete="off">
                  <label>Confirm Password</label>
              </div>
                <div class="remember-forget">
                  <label><input type="checkbox" required>I agree to the terms and conditions</label>
                      
                </div>
                  <button type="submit" class="btn">Register</button>
                  <div class="login-register">
                      <p>Already have an account? <a href="/" class="login-link">Login</a></p>
                  </div>
              </form>
              
          </div>
          </div>
  </section>
      <script src="login.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>