<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StarQuest-Sonmarg</title>
<!-- Stylesheets -->
<!-- <link rel="stylesheet" href="home.css"> -->
<link href="/bootstrap.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/sq.PNG">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/navbar.css">
<link href="/responsive.css" rel="stylesheet">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 

</head>

<body>
	<nav>
        <div class="nav__bar">
			<div class="nav__logo"><a href="home">StarQuest</a></div>
			<ul class="nav__links">
			  <li class="link"><a href="home">Home</a></li>
			  <li class="link"><a href="booking">Booking</a></li>
			  <li class="link"><a href="destinations">Destinations</a></li>
			  <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
			  <!-- <li class="link"><a href="#blog">Blog</a></li> -->
			  <li class="link"><a href="gallary">Gallery</a></li>
			  <li class="link"><a href="home#about">About Us</a></li>
			  <li class="link"><a href="contact">Contact</a></li> 
		  </div>

      </nav>
	<div class="page-wrapper"> 
  

		<div class="search-backdrop"></div>
		
		<!--Menu Backdrop-->
		<div class="menu-backdrop"></div>
	
		<!-- Hidden Navigation Bar -->
		
	
		<div class="cart-backdrop"></div>
		
		
	
		<!-- Banner Section -->
		<section class="packages-banner" style="background-image: url(https://images.unsplash.com/photo-1623996243194-fd281057d568?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
			<div class="auto-container">
				<ul class="banner-list">
					<li><span class="icon"><img src="/icons/location.svg" alt="" /></span>Jammu & Kashmir, India</li>
					<li> <a href="https://maps.app.goo.gl/r5g6U3LYkYTnj37a7" style="color: #fff;" target="_blank">View on Map</a></li>
				</ul>
			</div>
		</section>
		<!--End Banner Section -->
	
		<!-- Package Detail Section -->
		<section class="package-detail-section">
			<div class="auto-container">
			
				<!-- Upper Box -->
				<div class="upper-box">
					<div class="clearfix">
						<div class="pull-left">
							<h4>Sonmarg</h4>
						</div>
					<!--	<div class="pull-right">
							<div class="price">$120<span>/Person</span></div>
						</div>-->
					</div>
				</div>
			
				
				
				
				<div class="row clearfix">
					<!-- Content Column -->
					<div class="content-column col-xl-8 col-lg-7 col-md-12 col-sm-12">
						<h5>About Sonmarg</h5>
						<p style="text-align: justify;"></p>
						<p style="text-align: justify;">Sonmarg, which translates to "Meadow of Gold," is a picturesque hill station nestled in the Ganderbal district of Jammu and Kashmir, India. Situated at an altitude of around 2,800 meters above sea level, Sonmarg is renowned for its stunning natural beauty, snow-capped mountains, lush green valleys, and glistening glaciers. The region is surrounded by towering peaks, including the majestic Himalayas, making it a paradise for nature lovers and adventure enthusiasts alike.

                            Sonmarg offers a tranquil escape from the hustle and bustle of city life, with its serene landscapes and refreshing mountain air. The meandering Sindh River flows through the valley, adding to its charm and providing opportunities for activities such as trout fishing and river rafting. During the summer months, the meadows come alive with vibrant flowers, creating a vibrant tapestry of colors against the backdrop of snow-capped peaks.
                            
                            The region's clear skies and minimal light pollution make it an ideal destination for stargazing and astronomy enthusiasts. Visitors to Sonmarg can marvel at the breathtaking beauty of the night sky, dotted with thousands of stars and constellations. The crisp mountain air and tranquil surroundings enhance the stargazing experience, allowing visitors to connect with the cosmos in a profound and meaningful way.
							</p>
						
						
							<div class="facility-box">
								<h5>Facilities</h5>
								<div class="row clearfix">
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/campings.svg" alt="" /></span> Camping Tents</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/food.svg" alt="" /></span> Meal-Dinner (Veg/Non-Veg)</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/hotel.svg" alt="" /></span> 3 to 5 star Hotels</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/lights.svg" alt="" /></span> Electric Tent Lights</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/no-smoking.svg" alt="" /></span> Smoking Not Allowed</div>
									</div>
									<div class="column col-lg-4 col-md-4 col-sm-12">
										<div class="facility-option"><span class="icon"><img src="/icons/transport.svg" alt="" /></span> Transport </div>
									</div>
								</div>
							</div>
						
						<!-- Itinerary Box -->
						<div class="itinerary-box">
							<h3><b>Itinerary</b></h3>
							<div class="days-outer">
							
								<!-- Day Box -->
								<div class="day-box">

									<h5>Late Afternoon:</h5>
        <p>Arrive in Sonmarg and check into your accommodation. Freshen up and prepare for the evening's astro-tour activities.</p>

        <h5>Early Evening:</h5>
        <p>Meet with your local guide or astronomy expert. Enjoy a delicious dinner at a local restaurant.</p>

        <h5>Evening:</h5>
        <p>Depart for a designated stargazing location away from town lights. Set up telescopes and stargazing equipment. Learn about celestial objects visible in the night sky.</p>

        <h5>Late Night:</h5>
        <p>Observe the wonders of the cosmos. Engage in discussions with your guide about astronomy. Enjoy hot beverages and snacks.</p>

        <h5>Early Morning:</h5>
        <p>Return to Sonmarg after the stargazing session. Witness the sunrise over the Himalayan peaks if weather permits. Reflect on your astro-tour experience.</p>
    
								</div>
							</div>
						</div>
						
						<!-- Gallery Box -->
						<div class="gallery-box">
							<h5>Gallery</h5>
							<div class="single-item-carousel owl-carousel owl-theme">
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1514669362126-0d8bb38261a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1533770968315-83d7a23b16eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1595520519880-a86c48ea536c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1713970752944-90dfa4444217?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1501418611786-e29f9929fe03?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://cdn.pixabay.com/photo/2022/05/01/13/48/planets-7167584_1280.jpg" alt="" />
									</div>
								</div>
								
							</div>
							<br>
							<div class="load-more"><a href="gallary" class="theme-btn btn-style-one"><span>Load More......</span></a></div>
						</div>
						
						<!-- Map Box -->
						<div class="map-box">
							<h5>Location</h5>
							<!--Map Outer-->
							<div class="map-outer">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6591.740962802253!2d75.28657174225475!3d34.30284455505547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e234e197d78061%3A0x5ccdc93dd4660335!2sSonamarg!5e0!3m2!1sen!2sin!4v1715413723288!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            
							</div>
						</div>
						
					</div>
					<!-- Sidebar Column -->
					<div class="sidebar-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
						
							<!-- Booking Widget -->
							<div class="sidebar-widget booking-widget" style="background-image: url(images/background/booking-bg.jpg);">
								<h5><a href="booking" style="color: white;">Book this Destination</a></h5>
								
							</div>
							
						
						</div>
					</div>
				</div>
				
			</div>
		</section>
	
	</div>

	
	<!--End pagewrapper--> 
	
	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon"><img src="/icons/arrow-up.svg" alt="" title="Go To Top"></span></div>
	
	<script src="/jquery.js"></script>
	<script src="/popper.min.js"></script>
	<script src="/bootstrap.min.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/jquery.fancybox.js"></script>
	<script src="/bxslider.js"></script>
	<script src="/touchspin.js"></script>
	<script src="/owl.js"></script>
	<script src="/wow.js"></script>
	<script src="/custom-script.js"></script>
</body>
</html>