<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StarQuest-Spiti Valley</title>
<!-- Stylesheets -->

<link href="/bootstrap.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/navbar.css">
<link href="/responsive.css" rel="stylesheet">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]--> 

</head>

<body>
	<nav>
        <div class="nav__bar">
			<div class="nav__logo"><a href="home">StarQuest</a></div>
			<ul class="nav__links">
			  <li class="link"><a href="home">Home</a></li>
			  <li class="link"><a href="booking">Booking</a></li>
			  <li class="link"><a href="destinations">Destinations</a></li>
			  <li class="link"><a href="https://stellarium-web.org/" target="_blank">NightSky Map</a></li>
			  <!-- <li class="link"><a href="#blog">Blog</a></li> -->
			  <li class="link"><a href="gallary">Gallery</a></li>
			  <li class="link"><a href="home#about">About Us</a></li>
			  <li class="link"><a href="contact">Contact</a></li> 
		  </div>

      </nav>
	<div class="page-wrapper"> 
  
		<section class="packages-banner" style="background-image: url(https://plus.unsplash.com/premium_photo-1661881103126-238fc26e284c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
			<div class="auto-container">
				<ul class="banner-list">
					<li><span class="icon"><img src="/icons/location.svg" alt="" /></span>Himachal Pradesh, India</li>
					<li> <a href="https://maps.app.goo.gl/rCR1otKKTJmVnWpP7" style="color: #fff;" target="_blank">View on Map</a></li>
				</ul>
			</div>
		</section>
		<!--End Banner Section -->
	
		<!-- Package Detail Section -->
		<section class="package-detail-section">
			<div class="auto-container">
			
				<!-- Upper Box -->
				<div class="upper-box">
					<div class="clearfix">
						<div class="pull-left">
							<h4>Spiti Valley</h4>
						</div>
					<!--	<div class="pull-right">
							<div class="price">$120<span>/Person</span></div>
						</div>-->
					</div>
				</div>
			
				
				
				
				<div class="row clearfix">
					<!-- Content Column -->
					<div class="content-column col-xl-8 col-lg-7 col-md-12 col-sm-12">
						<h5>About Spiti Valley</h5>
						<p style="text-align: justify;"></p>
						<p style="text-align: justify;">Explore the mystical allure of Spiti Valley, nestled in the remote reaches of northeastern Himachal Pradesh. Situated at an average altitude of 12,500 feet, this captivating destination boasts some of the clearest skies, providing optimal conditions for stargazing enthusiasts.

							Traversed by the glistening Spiti River, flanked by majestic snow-capped peaks, the valley's starkly beautiful landscapes offer a serene backdrop for celestial observation. Here, amidst the rugged terrain and minimal light pollution, immerse yourself in the wonders of the cosmos.
							
							Embark on an unforgettable journey through the cosmos, where professional telescopes unveil the secrets of distant galaxies, ethereal nebulae, and captivating planets. Witness the mesmerizing dance of shooting stars and behold the luminous swath of the Milky Way stretching across the heavens.
							
							With every twinkling star and celestial marvel, Spiti Valley beckons adventurers and dreamers alike to embrace the enchantment of the night sky. Don't miss your chance to embark on this extraordinary odyssey—an experience that promises to leave an indelible mark on your soul.
							
							</p>
						
						
						<div class="facility-box">
							<h5>Facilities</h5>
							<div class="row clearfix">
								<div class="column col-lg-4 col-md-4 col-sm-12">
									<div class="facility-option"><span class="icon"><img src="/icons/campings.svg" alt="" /></span> Camping Tents</div>
								</div>
								<div class="column col-lg-4 col-md-4 col-sm-12">
									<div class="facility-option"><span class="icon"><img src="/icons/food.svg" alt="" /></span> Meal-Dinner (Veg/Non-Veg)</div>
								</div>
								<div class="column col-lg-4 col-md-4 col-sm-12">
									<div class="facility-option"><span class="icon"><img src="/icons/hotel.svg" alt="" /></span> 3 to 5 star Hotels</div>
								</div>
								<div class="column col-lg-4 col-md-4 col-sm-12">
									<div class="facility-option"><span class="icon"><img src="/icons/lights.svg" alt="" /></span> Electric Tent Lights</div>
								</div>
								<div class="column col-lg-4 col-md-4 col-sm-12">
									<div class="facility-option"><span class="icon"><img src="/icons/no-smoking.svg" alt="" /></span> Smoking Not Allowed</div>
								</div>
								<div class="column col-lg-4 col-md-4 col-sm-12">
									<div class="facility-option"><span class="icon"><img src="/icons/transport.svg" alt="" /></span> Transport </div>
								</div>
							</div>
						</div>
						
						<!-- Itinerary Box -->
						<div class="itinerary-box">
							<h3><b>Itinerary</b></h3>
							<div class="days-outer">
							
								<!-- Day Box -->
								<div class="day-box">

									<h5>Spiti Valley Astro Tour Itinerary</h5>
        
									<h5>Late Afternoon:</h5>
									<p>
										Arrive in Kaza, the administrative capital of Spiti Valley, during the late afternoon.
										Check into your accommodation and freshen up for the evening.
									</p>
									
									<h5>Early Evening:</h5>
									<p>
										Meet with your local guide or astronomy expert who will lead the astro tour.
										Have an early dinner at a local restaurant to fuel up for the night ahead.
									</p>
									
									<h5>Evening:</h5>
									<p>
										Depart from Kaza in the early evening, heading to a designated stargazing spot away from city lights. There are several suitable locations in and around Kaza that offer excellent visibility of the night sky.
										Set up telescopes and cameras for stargazing and astrophotography sessions.
										Your guide will provide insights into celestial objects, constellations, and other astronomical phenomena visible in the night sky over Spiti Valley.
										Spend time observing and photographing the stars, planets, and possibly even deep-sky objects such as galaxies and nebulae.
										Enjoy hot beverages and snacks provided during the stargazing session.
									</p>
									
									<h5>Late Night:</h5>
									<p>
										Continue stargazing and astrophotography until late into the night, taking advantage of the clear, unpolluted skies of Spiti Valley.
										Capture memorable images of the Milky Way arching across the sky, along with other celestial wonders.
										Engage in discussions with your guide about astronomy, space exploration, and the significance of dark sky conservation.
										Take periodic breaks to rest and enjoy the tranquility of the night under the vast expanse of stars.
									</p>
									
									<h5>Early Morning:</h5>
									<p>
										As the night comes to an end, pack up your equipment and return to Kaza.
										Depending on your preference and the time of year, you may witness the breathtaking sight of the sunrise over the mountains as you head back to your accommodation.
									</p>
									
									<h5>Morning:</h5>
									<p>
										Arrive back in Kaza in the early morning hours.
										Take some time to relax and reflect on your astro tour experience.
										If you have the energy, explore the local markets or enjoy a leisurely breakfast at a cafe in Kaza.
									</p>
								</div>
							</div>
						</div>
						
						<!-- Gallery Box -->
						<div class="gallery-box">
							<h5>Gallery</h5>
							<div class="single-item-carousel owl-carousel owl-theme">
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1514669362126-0d8bb38261a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1533770968315-83d7a23b16eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1595520519880-a86c48ea536c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1713970752944-90dfa4444217?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://images.unsplash.com/photo-1501418611786-e29f9929fe03?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="https://cdn.pixabay.com/photo/2022/05/01/13/48/planets-7167584_1280.jpg" alt="" />
									</div>
								</div>
								
							</div>
							<br>
							<div class="load-more"><a href="gallary" class="theme-btn btn-style-one"><span>Load More......</span></a></div>
						</div>
						
						<!-- Map Box -->
						<div class="map-box">
							<h5>Location</h5>
							<!--Map Outer-->
							<div class="map-outer">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13497.775644939118!2d78.03491600000001!3d32.2461365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3906a40ef42dc09b%3A0x52b583a91132a239!2sSpiti%20Valley%2C%20Marango%20Rangarik%2C%20Himachal%20Pradesh%20172114!5e0!3m2!1sen!2sin!4v1715403931836!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							
							</div>
						</div>
						
					</div>
					<!-- Sidebar Column -->
					<div class="sidebar-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
						
							<!-- Booking Widget -->
							<div class="sidebar-widget booking-widget" style="background-image: url(images/background/booking-bg.jpg);">
								<h5><a href="booking" style="color: white;">Book this Destination</a></h5>
								
							</div>
							
						
						</div>
					</div>
				</div>
				
			</div>
		</section>
	
	</div>

	
	<!--End pagewrapper--> 
	
	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon"><img src="/icons/arrow-up.svg" alt="" title="Go To Top"></span></div>
	
	<script src="/jquery.js"></script>
	<script src="/popper.min.js"></script>
	<script src="/bootstrap.min.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/jquery.fancybox.js"></script>
	<script src="/bxslider.js"></script>
	<script src="/touchspin.js"></script>
	<script src="/owl.js"></script>
	<script src="/wow.js"></script>
	<script src="/custom-script.js"></script>
</body>
</html>